h1 {
  width: 100%;
  margin: 0;
  padding: 2em 0;
  color: white;
  background-color: cornflowerblue;
  background-image: url(https://source.unsplash.com/random);
  background-size: cover;
  /* background-size: contain; */
  /* background-position: center; */
  /* background-repeat: repat-x; */
  font-family: fantasy;
  font-size: 3em;
  text-indent: 1em;
  letter-spacing: 10px;
}

h2 {
  width: 15em;
  margin: 1em auto;
  padding: 0;
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 0;
  font-family: fantasy;
  font-size: 2em;
  text-align: center;
}

p {
  width: 80%;
  margin: 0 auto;
  padding: 0.5em;
  text-align: center;
}

.image {
  width: 60%;
  margin: 0 auto;
  padding: 0.5em;
  text-align: center;
}

img {
  width: 100%;
}
body {
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
}

header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

nav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

nav ul {
  margin: 1em 1em auto;
  padding: 1em;
  background-color: aliceblue;
  color: silver;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

nav li {
  margin: 1em;
}

main {
  grid-column: 2/3;
  grid-row: 2/3;
}

aside {
  margin: 0 auto;
  padding: 0.5em;
  text-align: center;
  grid-column: 3/4;
  grid-row: 2/3;
}

aside #contact {
  width: 5em;
  margin: 0 auto;
  color: white;
  background-color: cornflowerblue;
  border-radius: 5px;
  border-width: 1px;
  text-align: center;
}

aside p {
  width: 100%;
}

footer {
  width: 100%;
  padding: 0.5em;
  text-align: center;
  color: white;
  background-color: black;
  grid-column: 1/4;
  grid-row: 3/4;
}
