body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  flex-wrap: wrap;
  /* height: 100vh;
  width: 100vw; */
  background-color: cornflowerblue;
  color: white;
  /* font-size: 2em; */
  font-family: cursive;
}

img {
  max-width: 1000px;
  width: 300px;
  margin: 5px 5px;
  height: auto;
  text-align: center;
}

.thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: flex-end; */
  /* flex-wrap: wrap; */
}

#bigimage {
  width: 500px;
  height: auto;
  margin: 0 auto;
}

#smallimage {
  width: 100px;
  height: 100px;
}

/* input {
  width: 100px;
  text-align: center;
} */

table {
  background-color: mediumaquamarine;
  border: white 2px solid;
  color: black;
  /* width: 500px; */
}

td {
  width: 200px;
  border: white 1px solid;
}

form {
  margin-top: 20px;
}
